* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $grey-0;
  margin: 0;
  padding: 0;
}

html {
  font-family: $san-serif, $source;
  font-size: 17px;

  @media (min-width: $break-small) {
    font-size: 18px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    margin: 0;
}

h2 {
    font-size: 24px;
}

a {
  color: $grey-0;
    text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0 1rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 0 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

.transition {
    transition: all 0.3s ease-in-out;
}

::selection {
    background: $purple;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background: $purple;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background: $purple;
    color: #FFF;
    text-shadow: none;
}

/* modified by Daehee Jeong */
.br-responsive {
  @media (max-width: 500px) {
    display: none;
  }
}

.disable-scroll-to-top {
  position: absolute;
  right: 1.4em;
  bottom: 1.8em;
  margin: 0;
  padding: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px rgba(200, 200, 200, 0.5);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.4em;
}

.enable-scroll-to-top {
  position: fixed;
  right: 1.4em;
  bottom: 1.8em;
  margin: 0;
  padding: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px rgba(200, 200, 200, 0.8);
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2em;
}